body{
    background-color:whitesmoke;
}
.style-col-index > a {
    /* text-decoration: none; color: rgb(3, 3, 3); font-size: 1.15rem;*/ 
    font-weight: 600;
}
.style-col-index > a:hover{
    background-color:rgb(241, 241, 250);
    color: rgba(0, 128, 128, 0.852) !important;
}

.navbar{
    background-color:#0d6a3fcb;
    top: 0%;
}
.boton{
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: none !important;
    font-size: 1.12rem;
}
.boton:hover{
    background-color: whitesmoke;
    color: black;
}
.clock {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: dodgerblue
}