body{
    background-color:whitesmoke;
}
.style-col-index > a{
    /* text-decoration: none; color: rgb(3, 3, 3); font-size: 1.15rem;*/ 
    font-weight: 600;
}
.style-col-index > a:hover{
    background-color:rgb(241, 241, 250);
    color: rgba(0, 128, 128, 0.852) !important;
}

.navbar{
    background-color:#0d6a3fcb;
    top: 0%;
}
.boton{
    color: whitesmoke !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    box-shadow: none !important;
    font-size: 1.12rem !important;
}
.boton:hover{
    background-color: whitesmoke;
    color: black !important;
}
.clock {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: dodgerblue
}
.abuelo, .padre, .hijo {
    border: 3px solid black;
    padding: 2rem 3rem;
    margin: 10px;
    color: white;
    font-size: 1.4rem;
}

.abuelo {
    background-color: rgb(25, 105, 185);
}

.padre {
    background-color: rgb(19, 131, 243);
    display: flex;
    flex-wrap: wrap;
}

.hijo {
    background-color: rgb(113, 173, 233);
    flex: 1;
}

.encontrado {
    color: red;
    border: 3px solid red
}

.bgVerde{
    background-color: var(--js-bg);
}

.cube {
    padding: 4rem;
    border: 2px solid #333;
    background-color: hsl(240, 100%, 70%);
}
.cubeTwo {
    padding: 4rem;
    border: 2px solid #333;
    background-color: hsl(240, 90%, 60%);
}
