.style-col-index > a {
    text-decoration: none; color: whitesmoke; font-size: 1.15rem; font-weight: bold;
}
.style-col-index > a:hover{
    color:midnightblue;
}
.style-con-index {
    background-color: rgba(210, 58, 3, 0.578); border-radius: 7px; height: 30rem;
}