.style-pages-col-index > a {
    text-decoration: none; color: whitesmoke; font-size: 1.15rem; font-weight: bold;
}
.style-pages-col-index > a:hover{
    color:midnightblue;
}
.style-pages-con-index {
    background-color: rgba(210, 58, 3, 0.578); border-radius: 7px; height: 26rem;
}
.nav-pages-bucle-index {
    position: absolute;
}
.a-pages-bucle-index {
    text-decoration: none; color: whitesmoke; font-weight: 400;font-size: 1.33rem;
}