
.li-ls > li{
    text-align: start;
}
.li-ls > li:hover{
    background:lightskyblue;
    cursor: pointer;
    text-decoration-line: line-through;
}

.navbar{
    background-color:#0d6a3fcb;
    top: 0%;
}
.boton{
    color: whitesmoke !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: none !important;
    font-size: 1.12rem !important;
}
.boton:hover{
    background-color: whitesmoke;
    color: black;
}